@model Phoro.Models.Categoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="content jumbotron">
    <div class="page-header">
        <h1>@Model.nombre</h1>
    </div>
    <ul class="list-group" id="category-items">
        @foreach (var element in ViewBag.Temas)
        {
            <a href="/Tema/Details/@element.id_tema" class="list-group-item">
                <b>@element.nombre</b> <small>Por: @element.Usuario.nombre</small> <span class="badge">@element.commentsAmount()</span>
            </a>
        }
    </ul>
    <a href="/Tema/Create/@Model.id_categoria"><button class="btn btn-success">New Topic!</button></a>
</div>

<p>
    @Html.ActionLink("Atrás", "Index")
</p>
