@model IEnumerable<Phoro.Models.Categoria>

@{
    ViewBag.Title = "Foro";
}

<div class="content jumbotron">
    <div class="page-header">
        <h1>Categorias</h1>
    </div>
    <div class="list-group">
        @foreach (var element in Model)
        {
            <div class="list-group-item">
                <a href="/Categoria/Details/@element.id_categoria">
                    <h2>@element.nombre <span class="badge">@element.topicsCount()</span></h2>
                </a>
                <p class="list-group-item-text">@element.descripcion</p>
                @if (element.lastComment() == null)
                {
                    <div class="well well-sm">No comments yet!</div>
                }
                else
                {
                    Phoro.Models.Tema lastComment = element.lastComment();
                    <div class="well well-sm">
                        Last comment on:
                        <a href="/Tema/Details/@lastComment.id_tema">@lastComment.nombre</a>
                        by @lastComment.Usuario.nombre
                    </div>
                }
                <a id="borrar" href="@Url.Action("Delete", "Categoria", new { id = element.id_categoria })">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </a>
            </div>
        }
    </div>
    
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>