@model Phoro.Models.MensajePrivado

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mensaje privado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="id_buzon">Buzon de destino</label>
            <div class="col-md-10">
                @Html.DropDownList("id_buzon", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_buzon, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="asunto">Asunto</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.asunto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.asunto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="mensaje">Mensaje</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.mensaje, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mensaje, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
