@model Phoro.Models.MensajePrivado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MensajePrivado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id de buzon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buzon.id_buzon)
        </dd>

        <dt>
            Remitente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remitente.nombre)
        </dd>

        <dt>
            Fecha de envio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_de_envio)
        </dd>

        <dt>
            Asunto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asunto)
        </dd>

        <dt>
            Mensaje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
