@model Phoro.Models.MensajePrivado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MensajePrivado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id de buzon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buzon.id_buzon)
        </dd>

        <dt>
            Remitente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remitente.nombre)
        </dd>

        <dt>
            Fecha de envio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_de_envio)
        </dd>

        <dt>
            Asunto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asunto)
        </dd>

        <dt>
            Mensaje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

    </dl>
</div>
<p>
<p>
    <a href="@Url.Action("Edit", "MensajePrivado", new { id = Model.id_mensaje })">
        <input type="button" value="Reenviar" class="btn btn-default btn-danger" />
    </a> |
    @Html.ActionLink("Back to List", "Index")
</p>
