@model Phoro.Models.MensajePrivado

@{
    ViewBag.Title = "Mensaje Privado";
}

<div class="content jumbotron">
    <div class="page-header">
        <h1>Asunto: @Html.DisplayFor(model => model.asunto)</h1>
    </div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Por: @Html.DisplayFor(model => model.Remitente.nombre) el @Html.DisplayFor(model => model.fecha_de_envio)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.mensaje)
        </div>
    </div>
    <p>
    <p>
        <a href="@Url.Action("Edit", "MensajePrivado", new { id = Model.id_mensaje })">
            <input type="button" value="Responder" class="btn btn-default btn-danger" />
        </a> |
        <a href="@Url.Action("Index", "MensajePrivado")">
            Volver
        </a>
    </p>
</div>