@model IEnumerable<Phoro.Models.MensajePrivado>

@{
    ViewBag.Title = "Bandeja de Entrada";
}

<div class="content jumbotron">
    <div class="page-header">
        <h1>Bandeja de Entrada</h1>
    </div>

    <p>
        <a href="@Url.Action("Create", "MensajePrivado" )">
            <input type="button" value="Redactar" class="btn btn-default btn-danger" />
        </a>
    </p>

    <table class="table">
        <tr>
            <th>
                Asunto
            </th>
            <th>
                Remitente
            </th>
            <th>
                Leido
            </th>
            <th>
                Fecha de envio
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/MensajePrivado/Details/@item.id_mensaje">@Html.DisplayFor(modelItem => item.asunto)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remitente.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.leido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_de_envio)
                </td>
                <td>
                    <div class="btn btn-warning btn-sm">@Html.ActionLink("Borrar", "Delete", new { id = item.id_mensaje })</div>
                </td>
            </tr>
        }

    </table>
</div>