@model IEnumerable<Phoro.Models.MensajePrivado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "MensajePrivado" )">
        <input type="button" value="Redactar" class="btn btn-default btn-danger" />
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Asunto
        </th>
        <th>
            Remitente
        </th>
        <th>
            Leido
        </th>
        <th>
            Fecha de envio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remitente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_de_envio)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id_mensaje }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_mensaje })
        </td>
    </tr>
}

</table>
