@model Phoro.Models.Tema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tema }) |
    @Html.ActionLink("Back to List", "Index")
</p>
