@model Phoro.Models.Tema

@{
    ViewBag.Title = Model.nombre;
}

<h2>Details</h2>

<div class="content jumbotron">
    <div class="page-header">
        <h1>@Model.nombre</h1>
    </div>
    <div class="topic-content">
        <div class="topic-commentaries">
            <div class="topic-user">
                <img src="/Content/img/@Model.Usuario.avatar_url" class="img-thumbnail">
                <span>@Model.Usuario.nombre</span>
            </div>
            <div class="well">
                @Model.mensaje
            </div>
            <a id="borrar" href="@Url.Action("Edit", "Tema", new { id = @Model.id_tema })">
                <button class="btn btn-sm btn-danger">Delete</button>
            </a>
        </div>
        @if (Model.commentsAmount() != 0)
        {
            <div class="topic-commentaries">
                @foreach (var element in ViewBag.Comentarios)
                {
                    <div class="topic-user">
                        <img src="/Content/img/@element.Usuario.avatar_url" class="img-thumbnail">
                        <span>@element.Usuario.nombre</span>
                    </div>
                    <div class="well">
                        @element.text
                    </div>
                    <a id="borrar" href="@Url.Action("Delete", "Comentario", new { id = element.id_comentario })">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </a>
                    <a id="borrar" href="@Url.Action("Edit", "Comentario", new { id = element.id_comentario })">
                        <button class="btn btn-sm btn-warning">Edit</button>
                    </a>
                }
            </div>
        }
        <a href="/Comentario/Create/@Model.id_tema"><button class="btn btn-lg btn-success">Responder</button></a>
    </div>

</div>
